body{
    padding: 0;
    margin: 0;
    background-color: rgb(4, 107, 88);
    
}

.contenior{
    width: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
  box-shadow: 0 0 30px white;
    border-radius: 5px;
    background-color: black;
}
.unit{
    font-size: 55px;
    margin-left: 120px;
    margin-top: -5px;
    text-shadow: 2px 2px 25px rgba(128, 0, 0, 0.67);
    color: violet;

}

a{
  color:#0b0606;
  text-decoration: none;
  font-size: 25px;
}
.button-19 {
  appearance: button;
  background-color: #5c899e;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #0b0606;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 80%;
  margin-top: 15px;
  margin-left: 10%;
  margin-bottom: 10px;

}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}