body{
	margin: 0px;
	padding: 0px;
	 
	 background-color: rgb(4, 107, 88);
}
.converter-body{
	width: 400px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	
	background-color: blueviolet;
	box-shadow: 0 0 20px white;
}
.converter-title{
	text-align: center;
	margin: 20px 5px;
	font-size: 50px;
	
	border-radius: 5px;
}
input{
	height: 40px;
	text-align: center;
	border: 3px solid black;
}
#input{
	margin-left: 22px;
}
#inputType,#resultType{
	width: 190.66px;
  height: 30px;

	color: black;
	border: 1px solid black;
  margin-top: 5px;
}
#resultType{
	margin-left: 12.5px;
}